body {
    background-color: var(--background);
    overflow-y: hidden;
}

.header {
    background-color: var(--section-background-t2);
}

.main {
    position: absolute;
    left: 50%;
    top: 13vh;
    transform: translateX(-50%);
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.search {
    width: 40vw;
    grid-row: 1;
    grid-column: span 3;
}